{% extends "Proyecto/master.html" %}
{% block grafico %}
    {% if data %}
        {{data.items}}
    {% else %}
        <p>No Existe Informacion</p>
    {% endif %}
{% endblock %}

 {% block salida %}<textarea class="form-control rounded-0" name="textarea" rows="10'" cols="30">{{data.rules}}</textarea>{% endblock %}
