{% extends "Proyecto/blank.html" %}
{% block contenido %}

<form class="user" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <input type="file" class="form-control form-control-user" accept=".csv"  id="file" placeholder="Email Address" name="myfile">
    </div>
    <input type="submit"  class="btn btn-primary btn-user btn-block">
</form>

{% endblock %}