{% extends "Proyecto/master.html" %}
{% block grafico %}
    {% if data %}
        <img src="data:image/png;base64,{{ data.graphic|safe }}" style="width:400px;height:300px">
    {% else %}
        <p>No Existe Informacion</p>
    {% endif %}
{% endblock %}

 {% block salida %}<textarea class="form-control rounded-0" name="textarea" rows="10'" cols="30">{{data.out}}</textarea>{% endblock %}
